body{
    background: #fff;
}
.app-wrap{
    display: flex;
    flex-direction: row;
}
.logo{
    padding: 10px;
}
.nav-extended{
    background: #313131;
    padding: 10px;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.search{
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header input{
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
}
.card{
    display: inline-block;
    max-width: 250px;
    min-height: 200px;
    padding: 15px 20px 10px;
}
.btn{
    background-color: black;
}
.off{
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
}