body{
    background: #202020;
}
.app-wrap{
    display: flex;
    flex-direction: row;
}
.logo{
    padding: 10px;
}
.nav-extended{
    background: #313131;
    padding: 10px;
}

.card{
    padding: 15px 20px 10px;
    width: 1100px;
    border: 2px solid #313131;
    margin-left: 80px;

}
.like{
    background-color: #18e71b;
}
.dislike{
    background-color: red;
}
.box{
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
}
.box input[type = "text"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.add{

}